<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!
            {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <ul>
                <li><a href="{{path('registration')}}">Registration</a></li>
                <li><a href="{{path('signup')}}">Sign Up</a></li>
            </ul>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
