{% extends "::base.html.twig" %}

{% block title %}AppBundle:AddImage:AddImage{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.path) }}
    <button type="submit">Upload image!</button>
    {{ form_end(form) }}

{% endblock %}
