{% extends "::base.html.twig" %}

{% block title %}AppBundle:ImageController:ShowDefaultImage{% endblock %}

{% block body %}
<h1>Welcome to the ImageController:ShowDefaultImage page</h1>
    <img src="{{ asset('images/mem.jpg') }}"/>
{% endblock %}
