{% extends "::base.html.twig" %}

{% block title %}AppBundle:ImageController:ShowDefaultImage{% endblock %}

{% block body %}
    {%  set pages=(images|length)/3+1 %}
   <ul>
    {% for p in range (1,pages) %}
        {% set page = ('page' ~ p) %}
        <li><a href="{{path('page', {'number': p}) }}">{{ p }}</a></li>
    {% endfor %}
    </ul>


{#
    {% for image in images %}
<div align="center"> <img src="{{ asset(image.path) }}"/></div>
    {% endfor %}
#}


{% endblock %}
